h1 {
    color: white;
}

/* Main Dasboard border
#mainDashboard{
    border: 1px groove grey;
    overflow-wrap: normal;
} */
/* surround for the uv index */
.uvIndex {
    display: inline-block;
}
.uvNum {
    border: none;
}